In [4]:
#importing necessary libraries to work with
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing the csv file from a url source
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url)

In [3]:
#to see if the file is correctly imported by checking the first 5 rows
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [7]:
#information about a data
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.0+ MB

In [6]:
#checking the number of rows and column of the file
print(fuel_data.shape)

(29523, 11)

In [9]:
#code to check if there are missing values
fuel_data.isnull().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [11]:
#since we know there is a missing data, we need to know the number
#row wise
fuel_data.isnull().any(axis=1).sum()

180

In [12]:
#the missing data coluumn wise 
fuel_data.isnull().any(axis=0).sum()

1

In [13]:
#Now, to get the percentage of missing data
round(100*(fuel_data.isnull().sum()/len(fuel_data)), 2)

record_id                       0.00
utility_id_ferc1                0.00
report_year                     0.00
plant_name_ferc1                0.00
fuel_type_code_pudl             0.00
fuel_unit                       0.61
fuel_qty_burned                 0.00
fuel_mmbtu_per_unit             0.00
fuel_cost_per_unit_burned       0.00
fuel_cost_per_unit_delivered    0.00
fuel_cost_per_mmbtu             0.00
dtype: float64

In [14]:
#the fuel_unit column contains a non-numercal variable, but categorical variable
# we need to replace by the most occuring unit, that is the mode

In [15]:
#value counts of fuel_unit column
fuel_data['fuel_unit'].value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [16]:
#the unit mcf occurred the most, so we replace the missing data by mcf
fuel_data['fuel_unit'] = fuel_data['fuel_unit'].fillna('mcf')

In [17]:
#checking the missing value again
fuel_data.isnull().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                       False
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [19]:
#creating an identity matrix
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [20]:
A = [1,2,3,4,5,6]

In [21]:
B = [13, 21, 34]

In [22]:
#creating a list to contain elements of A & B
print(A+B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [25]:
#the fuel type with the lowest average fuel cost per burned
lowest_fuel_burned = fuel_data.groupby('fuel_type_code_pudl')

In [28]:
#a datafrae of the fuel with the lowest average fuel unit burned
pd.DataFrame(lowest_fuel_burned['fuel_cost_per_unit_burned'].mean().sort_values()[:1])

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
gas                                  13.659397

In [30]:
#calculating the standrd deviation of the Fuel_mmbtu_per_unit
round(fuel_data['fuel_mmbtu_per_unit'].std(), 2)

10.6

In [31]:
#calculating the 75th percentile of the Fuel_mmbtu_per_unit
round(fuel_data['fuel_mmbtu_per_unit'].quantile(q=0.75), 2)

17.01

In [32]:
#calculating the skewness of fuel quantity burned
round(fuel_data['fuel_qty_burned'].skew(), 2)

15.85

In [33]:
#calculating the kutorsis of fuel quantity burned
round(fuel_data['fuel_qty_burned'].kurt(), 2)

651.37

In [44]:
#report year with the highest average cost per unit delivered
pd.DataFrame(fuel_data.groupby(["report_year", "fuel_cost_per_unit_delivered"])["fuel_cost_per_unit_delivered","report_year"].mean().max())

C:\Users\useruj\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                                      0
fuel_cost_per_unit_delivered  7964521.0
report_year                      2018.0

In [40]:
#correlation of the data
fuel_data.corr().sum()

utility_id_ferc1                0.920774
report_year                     1.005239
fuel_qty_burned                 0.850576
fuel_mmbtu_per_unit             0.716298
fuel_cost_per_unit_burned       0.957737
fuel_cost_per_unit_delivered    0.967851
fuel_cost_per_mmbtu             1.008057
dtype: float64